{% extends "base.html" %}
{% load static %}

{% block title %}
멋사 실습 !!
{% endblock title %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'style.css' %}">
<!-- link rel="stylesheet" href="{% static 'blog/css/style.css' %}" -->
{% endblock extrahead %}

{% block content %}

<h1>edit 페이지</h1>

<form action="{% url 'update' edit_blog.id %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="text" name="title" value="{{ edit_blog.title }}"/>
    <textarea name="content" id="" cols="30">{{ edit_blog.content }}</textarea>
    <input type="file" name="image" />
    <input type="submit" value="수정하기" />
</form>

{% endblock content %}