{% extends "base.html" %}
{% load static %}

{% block title %}
멋사 실습 !!
{% endblock title %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'style.css' %}">
<!-- link rel="stylesheet" href="{% static 'blog/css/style.css' %}" -->
{% endblock extrahead %}

{% block content %}

<h1>새 글 작성하기</h1>
<form action="{%url 'create'%}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    제목 : <input type="text" name="title" />
    본문 : <textarea name="content" id="" cols="30" rows="10"></textarea>
    사진 : <input type="file" name="image"/>
    <input type="submit" value="작성하기"/>
</form>


{% endblock content %}